<%- include('../header') -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Released</th>
          </tr>
        </thead>
        <tbody>

          <% games.forEach(function(game, index) { %>
            <tr>
              <td><a href="/games/<%= game.id %>"><%= game.title %></a></td>
              <td><%= game.released %></td>
            </tr>
          <% }) %>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%- include('./post') -%>
    </div>
  </div>
</div>
<%- include('../jquery') -%>
<%- include('../datatable') -%>
<script type="text/javascript" src="../static/js/games.js"></script>
<%- include('../footer') -%>
